.contact{
    margin: 20px 200px;
    padding: 20px 0;
    color: #0056b3;
    text-decoration: underline;
}
.contact h2{
	font-size: 35px;
	color: #007bff;
	text-decoration: none;
}

.contact-form {
    display: grid;
    grid-gap: 10px;
    width: 600px;
    height: 300px;
    padding: 20px;
}

.contact-form form {
    display: grid;
    grid-gap: 10px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 200px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.info {
    width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info img {
    width: 100%;
    border-radius: 5px;
}

.info p, h2{
    color: black;
}

.contact-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}